<app-modal
  #modal
  modalId="create-ticket"
  (modalClose)="closeModal()">
  <app-modal-header>
    <h1
      id="create-ticket-title"
      class="text-xl font-bold">
      Create Ticket
    </h1>
  </app-modal-header>
  <app-modal-content>
    <form
      #ticketForm="ngForm"
      class="mt-4 space-y-4"
      (ngSubmit)="submitTicket(ticketForm)">
      <div class="control">
        <label
          class="mb-1 block text-sm font-medium"
          for="ticket-title"
          >Title <span class="text-error">* Required</span></label
        >
        <input
          name="title"
          #title="ngModel"
          ngModel
          required
          id="ticket-title"
          type="text"
          class="w-full rounded border border-elevated bg-primary px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-primary"
          required />

        @if (ticketForm.submitted && title.invalid) {
          <p class="text-error">Title is a required input.</p>
        }
      </div>

      <div class="control">
        <label
          class="mb-1 block text-sm font-medium"
          for="ticket-desc"
          >Description <span class="text-error">* Required</span></label
        >
        <textarea
          name="description"
          #desc="ngModel"
          ngModel
          required
          id="ticket-desc"
          class="w-full rounded border border-elevated bg-primary px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-primary"
          rows="4"
          required></textarea>

        @if (ticketForm.submitted && desc.invalid) {
          <p class="text-error">Description is a required input.</p>
        }
      </div>

      @if (errorMsg()) {
        <p class="text-error">Failed to save ticket: {{ errorMsg() }}</p>
      }

      <div class="flex items-center justify-end gap-2 pt-2">
        <button
          type="button"
          class="rounded bg-primary px-4 py-2 text-sm font-semibold hover:bg-primary/80"
          (click)="modal.close()">
          Cancel
        </button>
        <button
          type="submit"
          class="rounded bg-accent px-4 py-2 w-18 text-sm flex justify-center font-semibold hover:bg-accent/80"
          [disabled]="isCreating()">
          @if (isCreating()) {
            <app-icon name="spinner-icon" />
          } @else {
            Save
          }
        </button>
      </div>
    </form>
  </app-modal-content>
</app-modal>
