<table
  class="table-fixed w-full max-h-[80vh] border-2 bg-surface border-elevated rounded-md border-separate border-spacing-0">
  <thead class="text-left h-10 bg-primary">
    <tr>
      @for (headerItem of headers; track $index) {
      <th class="first:rounded-tl-md last:rounded-tr-md first:pl-4">{{headerItem}}</th>
      }
    </tr>
  </thead>
  <tbody class="content-evenly">
    @if (hasError()) {
      <tr>
        <td
          [attr.colspan]="headers.length"
          class="text-center p-4">
          <div class="flex flex-col items-center gap-2 p-12">
            <img
              src="img/error.svg"
              alt="Error Illustration"
              class="h-64"
              aria-hidden="true" />
            <h1 class="text-3xl font-semibold">Oops!</h1>
            <p>An error occured while loading the tickets.</p>
            <p>
              Try
              <span
                ><button
                  class="text-accent underline"
                  (click)="onReloadPage()">
                  reloading the page
                </button></span
              >
              or contact an administrator.
            </p>
          </div>
        </td>
      </tr>
    } @else if (tableState().totalElements === 0) {
      <tr>
        <td
          [attr.colspan]="headers.length"
          class="text-center p-4">
          <div class="flex flex-col items-center gap-2 p-12">
            <img
              src="img/search.svg"
              alt="Search Illustration"
              class="h-44"
              aria-hidden="true" />
            <h1 class="text-3xl font-semibold">Nothing there!</h1>
            <p>No tickets found.</p>
            <button
              class="text-accent underline"
              (click)="onTicketCreate()">
              Start by creating a ticket
            </button>
          </div>
        </td>
      </tr>
    } @else {
      @for (ticket of tableState().content; track ticket.id) {
        <tr class="last:*:border-b-0 h-10">
          <td class="border-b border-elevated pl-4">{{ ticket.title }}</td>
          <td class="border-b border-elevated">{{ ticket.status }}</td>
          <td class="border-b border-elevated">{{ ticket.createdAt | date: 'dd.MM.yyyy' }}</td>
          <td class="border-b border-elevated">{{ ticket.updatedAt | date: 'dd.MM.yyyy' }}</td>
        </tr>
      }
    }
  </tbody>
</table>

<div class="flex mt-2 w-full items-center justify-between">
  <p class="text-sm text-muted-foreground">
    Showing {{tableInfo().min}}-{{tableInfo().max}} of {{tableInfo().total}} tickets
  </p>

  <div class="flex gap-2">
    <button
      [disabled]="isFirstPage()"
      (click)="onFirstPageClick()"
      class="bg-surface hover:bg-surface/80 rounded-md p-2"
      type="button"
      aria-label="Create new ticket">
      <svg chevron-left-double></svg>
    </button>
    <button
      [disabled]="isFirstPage()"
      (click)="onPageBackwardsClick()"
      class="bg-surface hover:bg-surface/80 rounded-md p-2"
      type="button"
      aria-label="Create new ticket">
      <svg chevron-left></svg>
    </button>
    <button
      [disabled]="isLastPage()"
      (click)="onPageForwardClick()"
      class="bg-surface hover:bg-surface/80 rounded-md p-2"
      type="button"
      aria-label="Create new ticket">
      <svg chevron-right></svg>
    </button>
    <button
      [disabled]="isLastPage()"
      (click)="onLastPageClick()"
      class="bg-surface hover:bg-surface/80 rounded-md p-2"
      type="button"
      aria-label="Create new ticket">
      <svg chevron-right-double></svg>
    </button>
  </div>
</div>

<app-create-ticket
  [isOpen]="modalOpen()"
  (modalClose)="closeModal()" />
