<div class="h-[80vh] flex flex-col">
  <div class="mb-4">
    <app-ticket-table-header [headers]="headers" />
  </div>

  @if (isLoading()) {
    <app-ticket-table-loading />
  }

  @if (isEmpty()) {
    <app-ticket-table-empty />
  }

  @if (hasError()) {
    <app-ticket-table-error />
  }

  <div class="flex-1 overflow-y-auto">
    @for (ticket of tableState()?.content; track ticket.id) {
      <div class="my-2">
        <app-ticket-card [ticket]="ticket" />
      </div>
    }
  </div>

  <div class="mt-auto">
    <app-ticket-table-pagination
      [paginationState]="tableState()!"
      (pageChange)="onPageChange($event)" />
  </div>
</div>
