/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-primary: #18181B;
  --color-surface: #27272A;
  --color-elevated: #44444A;
  --color-accent: #22D3EE;
  --color-highlight: #A78BFA;
  --color-success: #4ADE80;
  --color-warning: #FBBF24;
  --color-error: #EF4444;
  --color-text-primary: #FAFAFA;
  --color-text-secondary: #A1A1AA;
}

@layer base {
  body {
    @apply bg-primary text-text-primary
  }
}

button {
  @apply cursor-pointer
}

button:disabled {
  @apply cursor-not-allowed opacity-50
}